*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Colors */
	--color-text: #000;
	--color-bg-main: #fff;
	--color-menu-item: #fff;
	--color-menu-item-hover: #e0f3ca;
	--color-bg-menu: #cbf3ee;
	--color-bg-facts: #000;
	--color-text-facts: #fff;
	--color-bg-img: #000;
	--color-bg-more-1: #f6f5f5;
	--color-bg-more-2: #f6f5f5;
	--color-bg-more-3: #f6f5f5;
	--color-bg-more-4: #f6f5f5;
	--color-nav: #ddd;
	--color-nav-hover: #000;
	--color-link: #000;
	--color-link-hover: #333;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg-main);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	opacity: 0;
	background: var(--color-text);
	animation: loaderAnim 0.8s ease-in infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1) rotate(90deg);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

button {
	border: 0;
	background: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	cursor: pointer;
	-webkit-appearance: none;
}

button:focus {
	outline: none;
}

/* Codrops links */
.codrops-links {
	position: relative;
	z-index: 1000;
	display: flex;
	margin: 2rem 1.5rem;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.25rem;
}

.codrops-icon .icon {
	width: 1.5rem;
	height: 1.5rem;
}

/* Icons */
.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}

.sections__header {
	/*padding: 2rem 2rem 0 2rem;*/
	display: flex;
}

.title {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 1.35rem;
	margin: 0;
}

.menu {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 3000;
	display: grid;
	grid-template-columns: 100%;
	pointer-events: none;
	align-items: start;
}

.menu::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	right: 0;
	transition: opacity 0.3s;
	pointer-events: none;
	opacity: 0;
}

.menu--open::before {
	opacity: 1;
	pointer-events: auto;
}

.menu__inner {
	padding: 4rem 2rem 0 0;
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	opacity: 1;
	position: relative;
	text-align: right;
}

.menu__toggle {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2.3rem 2rem;
	display: grid;
	grid-template: 100% / 100%;
	pointer-events: auto;
	cursor: pointer;
}

.menu__toggle-inner {
	display: block;
	grid-area: 1 / 1 / 1 / 1;
}

.menu__toggle-inner--close {
	opacity: 0;
	color: var(--color-menu-item);;
}

.menu__item {
	font-size: 2.25rem;
	margin: 0 0 1.5rem;
	font-weight: bold;
	opacity: 0;
}

.menu--open .menu__item {
	pointer-events: auto;
}

.menu__item-link {
	color: var(--color-menu-item);
}

.menu__item-link:hover {
	color: var(--color-menu-item-hover);
}

.sections__index,
.sections__nav {
	display: none;
}

.facts {
	display: block;
}

.section__content {
	padding: 2rem;
}
.section-1 .char8{
	margin-left: 15px;
}
.section__title {
	font-size: 5vw;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: -0.35vw;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
.section-1 .section__title, .section-2 .section__title, .section-3 .section__title, .section-4 .section__title{
	font-size: 2.7vw;
}
.section-1 .char8{
	margin-left: 15px;
}

/*.section-2 .section__title{*/
	/*font-size: 2.7vw;*/
/*}*/
.section-2 .char6, .section-2 .char9, .section-2 .char16{
	margin-left: 15px;
}

/*.section-3 .section__title{*/
	/*font-size: 2.7vw;*/
/*}*/
.section-3 .char11{
	margin-left: 15px;
}

/*.section-4 .section__title{*/
	/*font-size: 2.7vw;*/
/*}*/
.section-4 .char10{
	margin-left: 15px;
}

.section__title span {
	display: inline-block;
}

.section__description {
	line-height: 1.75;
	overflow: hidden;
	position: relative;
	padding: 0 2rem 0 0;
	font-weight: 300;
}

.section__description-inner {
	display: block;
}

.section__img {
	height: 45vh;
	pointer-events: none;
}
.section__img-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.section__facts {
	padding: 2rem;
	margin: 0;
	list-style: none;
	background: var(--color-bg-facts);
	color: var(--color-text-facts);
}

.section__facts-item {
	margin: 0 0 2.5rem 0;
	cursor: pointer;
}

.section__facts-img {
	max-width: 200px;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	margin: 4rem 0 2rem 0;
	position: relative;
}

.section__facts-img::before,
.section__facts-img::after {
	content: '';
	width: 100%;
	height: 100%;
	background: #2f2f2f;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.section__facts-img::before {
	transform: rotate(3deg);
}

.section__facts-img::after {
	transform: rotate(-5deg);
}

.section__facts-img img {
	max-width: none;
	width: 100%;
}
.icon--grid {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.5rem;
	height: 1.5rem;
	margin: -0.75rem 0 0 -0.75rem;
}

.section__facts-title {
	cursor: pointer;
	font-size: 1em;
	margin: 0 0 0.5rem;
}

.section__facts-detail {
	font-weight: 300;
}

.section__facts-item--clickable {
	display: none;
}

.section__gallery {
	grid-area: 1 / 4 / 4 / 2;
	padding: 2rem;
	display: grid;
	grid-gap: 0.75rem;
	grid-template-columns: 50% 50%;
	grid-template-rows: 2rem 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	z-index: 300;
	pointer-events: none;
	height: 100vh;
	background: var(--color-bg-facts);
}

.section__gallery-item {
	width: 100%;
	height: 100%;
	display: flex;
}

.section__gallery-item--title {
	grid-area: 1 / 1 / 2 / 3;
	color: #fff;
	font-size: 1em;
	margin: 0;
}

.section__gallery-item img {
	max-width: 100%;
	max-height: 100%;
	margin: auto 0;
	display: block;
} 

.section__more {
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.section__more-inner {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.section__more-inner--bg1 {
	background-color: var(--color-bg-more-1);
}

.section__more-inner--bg2 {
	background-color: var(--color-bg-more-2);
}

.section__more-inner--bg3 {
	background-color: var(--color-bg-more-3);
}

.section__more-inner--bg4 {
	background-color: var(--color-bg-more-4);
}

.section__more-text {
	font-weight: bold;
	display: block;
	margin: 0 0 1rem 0;
}

.section__more-link {
	display: flex;
	cursor: pointer;
	font-weight: 300;
}

.section__more-linktext {
	margin: 0 0.5rem 0 0;
	line-height: 1;
}

.icon--arrowlong {
	width: 2rem;
	height: 1.25rem;
}
#menu-content-2{
	/*overflow-y: auto;*/
	overflow-x: hidden;
}
.portfolio .filtr-item{
	width: 400px;
	height: 250px;
}
.portfolio .filtr-item{
	width: 400px;
	left: 25%;
}
.portfolio .filtr-item img{
	width: 100%;
}
.filter-controls{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filtr-container{
	margin-top: 25%;
	/*overflow-y: auto;*/
}
.portfolio-wrap{
	overflow-y: scroll;
	height: 100vh;
	width: 100%;
}
.portfolio-wrap::-webkit-scrollbar {
	width: 6px;
}

.portfolio-wrap::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px white;
	border-radius: 10px;
}

.portfolio-wrap::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px white;
}
.fltr-controls{
	color: white;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 3.6px;
	list-style: none;
	cursor: pointer;
	margin: 10px 0;
}
.simplefilter .active{
	opacity: 0.3;
	text-decoration: line-through
}
#menu-content-2 .my-menu-close{
	right: 25px;
}
.socs-header-bottom{
	position: absolute;
	bottom: 3rem;
	left: 4rem;
	width: 100%;
}
.svg-header-icon{
	opacity: 0.3;
}
.cocs-header-container a{
	margin-right: 15px;
}
.cocs-header-container a:hover .svg-header-icon{
	opacity: 0.8;
	transition: all 0.3s ease;
}
.socs-header-bottom p{
	color: #b2b2b2;
	margin: 0;
}
.sections {
	overflow: hidden;
}
.header-phone{
	margin-right: 30px;
}
.desc-hide{
	display: none;
}

@media screen and (min-width: 55em) and (min-height: 40em) {
	.sections {
		height: 100vh;
		overflow: hidden;
		display: grid;
		grid-template-columns: 45% 55%;
		grid-template-rows: 6rem calc(30% - 2rem) calc(31% - 2rem) calc(39% - 2rem);
		grid-template-areas: 	"header expander"
								"sections-index expander"
								"... expander"
								"sections-nav expander";
	}
	.codrops-links {
		position: absolute;
		top: 0;
		right: 0;
	}
	.sections--factsopen .codrops-links {
		opacity: 0;
		pointer-events: none;
	}
	.codrops-icon {
		color: #fff;
	}
	.menu {
		grid-template-columns: 47% 53%;
	}
	.menu__toggle {
		right: 53%;
		margin: 2.3rem 4rem 0 0;
	}
	.menu__inner {
		padding: 4rem 4rem 0 0;
	}
	.facts {
		position: relative;
		grid-area: expander;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		/*pointer-events: none;*/
		z-index: 200;
	}
	.facts__toggle {
		font-weight: bold;
		cursor: pointer;
		width: 48%;
		padding: 0 0 0 5vw;
		margin: 0 0 0 2vw;
		height: 5rem;
		position: relative;
		display: grid;
		grid-template: 100% / 100%;
		color: var(--color-text-facts);
		pointer-events: auto;
	}
	.facts__toggle:hover {
		opacity: 0.6;
	}
	.facts__toggle-inner {
		text-transform: uppercase;
		font-size: 0.6rem;
		letter-spacing: 0.25rem;
		grid-area: 1 / 1 / 1 / 1;
		display: flex;
	}
	.facts__toggle-inner--less {
		opacity: 0;
	}
	.facts__toggle-text {
		line-height: 1.75;
		margin: 0 0 0 0.25rem;
	}
	.button-contentclose {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2rem;
		opacity: 0;
		pointer-events: none;
		color: var(--color-text-facts);
	}
	.sections__header {
		grid-area: header;
	}
	.sections__index {
		font-weight: bold;
		font-size: 0.75rem;
		display: block;
		align-self: end;
		padding: 0 4rem 3rem 20%;
		grid-area: sections-index;
		display: flex;
		z-index: 1;
	}
	.sections__index-current {
		position: relative;
		overflow: hidden;
	}
	.sections__index-total {
		position: relative;
		margin: 0 0 0 8rem;
	}
	.sections__index-total::after {
		content: '';
		position: absolute;
		width: 6rem;
		height: 3px;
		top: calc(50% - 1.5px);
		right: calc(100% + 1rem);
		background: #000;
	}
	.sections__index-inner {
		display: block;
		width: 1.15rem;
	}
	.sections__nav {
		position: relative;
		display: block;
		grid-area: sections-nav;
		z-index: 5;
		padding: 2rem 4rem 0;
		background: linear-gradient(0deg, #ffffff 90%, rgba(255,255,255,0));
	}
	.sections__nav-item {
		border: 2px solid var(--color-nav);
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		background: var(--color-bg-main);
	}
	.sections__nav-item:hover {
		border-color: var(--color-nav-hover);
	}
	.sections__nav-item .icon {
		width: 100%;
		height: 100%;
	}
	.section {
		pointer-events: none;
		grid-area: 1 / 1 / 5 / 4;
		display: grid;
		grid-template-columns: 47% 25% 28%;
		grid-template-rows: 39% 43% 22%;
		grid-template-areas: 	"... slide-image slide-image"
								"slide-content slide-image slide-image"
								"... ... more";
	}
	.section--current {
		pointer-events: auto;
	}
	.section__content {
		padding: 0 3rem;
		grid-area: slide-content;
	}
	.section__expander {
		grid-area: 1 / 2 / 4 / 4;
		background: var(--color-bg-facts);
		transform-origin: 0 0;
		left: -2vw;
		position: relative;
		z-index: 100;
	}
	.section__img {
		height: auto;
		grid-area: slide-image;
		overflow: hidden;
		z-index: 99;
	}
	.section:fist-of-type .section__img {
		background: var(--color-bg-img);
	}
	.section__facts-item--clickable {
		display: block;
	}
	.section__gallery {
		grid-template-columns: repeat(2, calc(200px + 2rem));
		grid-gap: 1rem;
		padding: 10vh 5vw;
		background: transparent;
		position: relative;
	}
	.section__gallery-item {
		padding: 0 0 0 1rem;
		opacity: 0;
	}
	.section__more {
		grid-area: more;
	}
	.section__facts {
		padding: 10vh 5vw;
		pointer-events: none;
		background: transparent;
		position: relative;
		z-index: 200;
		grid-area: 1 / 2 / 4 / 3;
	}
	.section__facts-detail {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.section__more-inner {
		padding: 0;
	}
	.sections--factsopen .sections__nav,
	.sections--factsopen .section__facts-item--clickable .section__facts-img,
	.sections--factsopen .facts__toggle {
		pointer-events: none;
	}
	.sections--factsopen .button-contentclose,
	.section--current .section__facts-item--clickable,
	.sections--factsopen .section__gallery-item {
		pointer-events: auto;
	}
	.js .section:not(.section--current) {
		pointer-events: none;
	}
	.js .section:not(.section--current) .section__title span,
	.js .section:not(.section--current) .section__description,
	.js .section:not(.section--current) .section__img-inner,
	.js .section:not(.section--current) .section__more-inner,
	.js .section:not(.section--current) .section__more-text,
	.js .section:not(.section--current) .section__more-link,
	.js .section:not(.section--current) .section__facts-item {
		opacity: 0;
	}

}

@media screen and (max-width: 54.9em), screen and (max-height: 39.9em) {
	.js .section__title span,
	.js .section__description,
	.js .section__img-inner,
	.js .section__more-inner,
	.js .section__more-text,
	.js .section__more-link,
	.js .section__facts-item,
	.js .section__gallery-item {
		opacity: 1 !important;
		transform: none !important;
	}
	.codrops-icon .icon {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: 2px solid;
		padding: 0.5rem;
	}
}

.block-none{
	display: none;
}

.my-menu{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	z-index: 201;
	width: 50%;
	height: 35%;
	background-color: black;
	transition: all 0.3s linear;
}
.button-section{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #f6f5f5;
	width: 50%;
	height: 20%;
}
.my-click{

}
.my-menu-close{
	z-index: 50;
}
.menu-items{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.menu-item{
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	color: white;
}

.menu-active{
	transition: all 0.3s linear;
	width: 100%;
	height: 100%;
}
.menu-content{
	transition: all 0.3s linear;
	width: 100%;
	height: 100%;
	position: relative;
}
.menu-item-1{
	text-decoration:line-through;
	opacity: 0.3;
}
.my-menu-close{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 1.5rem;
	padding: 10px;
	cursor: pointer;
}

/*-----content-tab-4------*/
.contact-wrap{
	width: 100%;
	height: 100%;
}
.contact-left, .contact-right{
	width: 50%;
	height: 100%;
	position: relative;
}
.contact-left-wrap{
	padding-left: 15%;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
.contact-left-item{
	height: 250px;
}
.contact-left-item-messages{
	display: flex;
	align-items: center;
}
.contact-left-item-messages a{
	white-space: nowrap;
}
.messages-title{
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	margin: 0;
	width: 150px;
}

/*-----content-tab-3------*/
.price{
	color: white;
	display: flex;
	justify-content: space-between;
}
.price p{
	margin: 0;
	padding: 10px;
	width: 33%;
}
.price-price{
	text-align: center;
}
.price-date{
	text-align: right;
}
.price-footer{
	padding: 10px;
	font-size: 14px;
}
.prices{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
}
.menu__toggle{
	display: none;
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 20px;
	height: 5px;
	/*position: relative;*/
	/*margin: 50px auto;*/
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: white;
	border-radius: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
	top: 0px;
}

#nav-icon1 span:nth-child(2) {
	top: 18px;
}

#nav-icon1 span:nth-child(3) {
	top: 36px;
}

#nav-icon1.open span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
#menu-content-4 #nav-icon1 span{
	background-color: black;
}


@media all and (max-width: 1300px){
	.contact-left-item-messages{
		flex-direction: column;
	}
	.messages-title{
		text-align: center;
	}
	.contact-left-item {
		height: 352px;
	}
	.contact-left-wrap{
		padding-left: 0;
	}

}

@media all and (max-width: 879px){
	.section-1 .section__title, .section-2 .section__title, .section-3 .section__title, .section-4 .section__title{
		font-size: 5.5vw;
	}
	.sections__header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: white;
		padding: 0;
		padding-bottom: 15px;
		z-index: 10000;
	}
	.header-phone{
		/*margin-right: 70px;*/
		margin-left: 15px;
	}
	.menu__toggle{
		display: block;
		margin: 0;
		position: absolute;
		top: 19px;
		right: 15px;
	}
	.menu__toggle-inner--close{
		position: absolute;
		top: 0;
		right: 0;
	}
	.section-1{
		margin-top: 80px;
	}
	.section__content{
		padding: 15px;
	}
	.section__img{
		padding: 15px;
	}
	.button-section{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
		height: 50px;
	}
	.my-menu{
		display: none!important;
	}
	.filtr-container-mobile .filtr-item{
		/*width: 250px;*/
		/*height: 250px;*/
	}
	.filtr-container-mobile .filtr-item img{
		width: 100%;
	}
	.nav-gallery-mobile{
		width: 100%;
		padding: 15px;
	}
	.filtr-button{
		padding: 7px 15px;
		cursor: pointer;
	}
	.nav-gallery-mobile .filtr-active{
		background-color:  #eeeeee;
	}
	.porfolio-mobile-title{
		font-size: 5.5vw;
		font-weight: bold;
		text-transform: uppercase;
	}
	.mobile-map{
		height: 400px;
	}
	.messages-title {
		 text-align: left;
	}
	.contact-left-item-messages {
		flex-direction: row;
		width: 400px;
	}
	.mobile-contact-container{
		background-color: black;
		padding: 25px 0 100px 0;
		height: 400px;
	}
	.mobile-prices .prices{
		position: relative;
		transform: none;
		width: auto;
		top: 0;
		left: 0;
	}
	.price-title-mob{
		display: none;
	}
	.mobile-prices .price{
		color: black;
	}
	.desc-hide{
		display: block;
	}

}

@media (min-width: 768px){
	.portfolio-wrap .col-md-6 {
		max-width: 55%;
	}
}
@media all and (max-width: 567px){
	.section__img{
		height: 250px;
	}
}
@media all and (max-width: 430px){
	.price-title-mob{
		display: block;
	}
	.price-title-desc{
		display: none;
	}
	.contact-left-item-messages{
		display: block;
		width: auto;
	}
	.mobile-contact-container{
		height: 450px;
	}
}
@media all and (max-width: 380px){
	.section__img{
		height: 200px;
	}
}




/*------------------------view-page--------------------------------*/
.view-wrapper{
	overflow: hidden;
}
.view-section-1{
	/*min-height: 100vh;*/
	/*position: relative;*/
	padding-left: 15px;
	padding-right: 15px;
}
.view-header-block{
	padding: 10% 0;
}
.view-wrapper{
	font-family: Roboto, sans-serif;
}
.view-header{
	padding: 5% 5% 0 5%;
}
.breadcrumbs{

}
.breadcrumbs-arrow{
	width: 30px;
	height: 1px;
	background-color: black;
	position: relative;
	/*margin-top: 13px;*/
	margin-right: 7px;
	transition: width 0.5s linear;
}
.breadcrumbs-arrow:before{
	content: "";
	width: 1px;
	height: 8px;
	background-color: black;
	position: absolute;
	top: -1px;
	left: 2px;
	transform: rotate(-45deg);
}
.breadcrumbs-arrow:after{
	content: "";
	width: 1px;
	height: 8px;
	background-color: black;
	position: absolute;
	bottom: -1px;
	left: 2px;
	transform: rotate(45deg);
}
.view-back{
	transition: 1s ease;
}
.view-back:hover > .breadcrumbs-arrow{
	width: 40px;
}
.view-breadcrumb, a.view-breadcrumb, .breadcrumbs p{
	color: #000000;
	font-size: 1.125rem;
	font-weight: 400;
}
a.view-breadcrumb:hover{
	color: #555555;
}
a.view-header-phone{
	color: #000000;
	font-size: 1.125rem;
	font-weight: 400;
}
a.view-header-phone:hover{
	color: #555555;
}
.project-title{
	min-height: 50px;
	width: 100%;
	color: #000000;
	font-weight: 500;
}
.project-description{
	color: #000000;
	font-size: 1.4rem;
	font-weight: 300;
	min-height: 100px;
}
.project-button{
	margin: 25px 0 25px 2px;
	width: 280px;
	color: white;
	background-color: black;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.project-button:hover{
	color: white;
	background-color: black;
	opacity: 0.8;
}
.view-banner-wrap{
	position: relative;
}
.view-banner-wrap img{
	width: 100%;
}

.think-arrow-right{
	margin-top: 12px;
	margin-left: 5px;
	display: block;
	width: 30px;
	height: 1px;
	background-color: white;
	color: white;
	position: relative;
}
.think-arrow-right:before{
	content: "";
	width: 1px;
	height: 8px;
	background-color: white;
	position: absolute;
	top: -1px;
	right: 2px;
	transform: rotate(45deg);
}
.think-arrow-right:after{
	content: "";
	width: 1px;
	height: 8px;
	background-color: white;
	position: absolute;
	bottom: -1px;
	right: 2px;
	transform: rotate(-45deg);
}

.task-name{
	font-size: 2.25rem;
	font-weight: 400;
}
.task-line{
	width: 100px;
	height: 2px;
	background-color: black;
	margin-top: 20px;
}
.task-value{
	color: #343434;
	font-size: 1.3rem;
	font-weight: 300;
}
.empty-space{
	height: 100px;
}
.task-color{
	width: 40px;
	height: 40px;
	margin: 15px 15px 15px 0;
	box-shadow: 6px -1px 3px 1px rgba(0, 0, 0, 0.1);
}
.project-video{
	padding: 50px 0;
}
.image-phone{
	padding-right: 30px;
	display: flex;
	justify-content: flex-end;
}
.image-phone img{
	width: 235px;
}
.view-phone-section{
	margin-top: 75px;
}
.view-review-wrap{
	margin-top: 150px;
	margin-bottom: 100px;
}
.view-review-wrap .overlay{
	position: relative;
}
.view-review-wrap .overlay img{
	width: 100%;
}
.my-mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.review-name{
	color: #000000;
	font-size: 1.5rem;
	font-weight: 500;
}
.form-title{
	color: #000000;
	font-size: 2.25rem;
	font-weight: 400;
}
.form-text{
	color: #343434;
	font-size: 18px;
	font-weight: 300;
}
.form-input{
	outline: none;
	border: none;
	padding: 10px!important;
	border-bottom: 2px solid black;
	width: 280px;
	border-radius: 0;
}
.form-button{
	margin: 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.view-form{
	padding: 100px 0;
}
.view-footer-arrow a{
	color: black;
	padding: 10px 0;
	display: block;
}
.case-arrow{
	width: 150px;
	height: 2px;
	background-color: black;
	margin-bottom: 10px;
	position: relative;
}
.case-arrow-left-line{
	margin-left: 10px;
}
.case-arrow-left-line:before{
	position: absolute;
	top: -4px;
	left: -10px;
	content: "";
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right:10px solid black;
}
.case-arrow-right-line{
	margin-right: 10px;
}
.case-arrow-right-line:before{
	position: absolute;
	top: -4px;
	right: -10px;
	content: "";
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left:10px solid black;
}


/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.iconbutton {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	background: none;
	border: 0;
	padding: 0 2rem;
	position: relative;
	cursor: pointer;
}

.iconbutton:focus {
	outline: none;
}

.iconbutton__number {
	color: #aaa;
	margin: 0 0 0 1rem;
}

.scroll {
	width: 2rem;
	height: 3.25rem;
	border-radius: 1rem;
	border: 2px solid #333;
}

.scroll__wheel {
	width: 2px;
	height: 1rem;
	background: #333;
	border-radius: 0.1rem;
	margin: 0.25rem auto 0;
}

.content__item--full {
	flex: none;
	width: 100%;
}

.content__text {
	font-size: 1.5rem;
	padding: 2rem;
	line-height: 1.5;
	margin: auto;
	max-width: 700px;
}
.iconbutton--border {
	padding: 1rem 3.5rem;
	overflow: hidden;
	transition: background-color 0.2s ease;
}

.iconbutton--border:hover {
	/*background-color: #dadada;*/
}

.iconbutton__text {
	margin: 0;
	background: linear-gradient(40deg, #2812da 0%, #e82aa3 100%);
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	filter: grayscale(1);
}

.iconbutton__graphic {
	position: absolute;
	right: 1.25rem;
	top: 0;
	display: flex;
	height: 100%;
	align-items: center;
	transform: translate3d(60px,0,0);
}

.icon--arrow-right {
	transform: rotate(180deg);
	color: black;
}

.iconbutton__border {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 3px solid black;
	opacity: 0.1;
	flex: none;
}
.video-project-bg{
	margin: 50px 0;
	width: 100%;
	height: 600px;
}
@media all and (max-width: 1199px){
	.video-project-bg{
		height: 500px;
	}
}
@media all and (max-width: 991px){
	.video-project-bg{
		height: 400px;
	}
	.view-header-block .row{
		display: flex;
		flex-direction: column-reverse;
	}
	.empty-space{
		height: 50px;
	}
	.image-phone{
		padding-right: 0;
		justify-content: center;
		margin-bottom: 50px;
	}
	.review-name{
		margin-top: 30px;
	}
	.view-review-wrap{
		margin-top: 70px;
		margin-bottom: 50px;
	}
	.view-form{
		padding: 0 0 50px 0;
	}
}
@media all and (max-width: 767px){
	.video-project-bg{
		height: 300px;
	}
}
@media all and (max-width: 575px){
	.video-project-bg{
		height: 250px;
	}
}
@media all and (max-width: 400px){
	.video-project-bg{
		height: 200px;
	}
	.case-arrow {
		width: 100px;
	}
}
@media all and (max-width: 360px){
	.iconbutton{
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 55em) {
	.content__text {
		font-size: 1rem;
	}
}
