@media all and (max-width: 1200px){
    .sec-1-right-block{
        display: none;
    }
    .sec-1-title p{
        font-size: 2.5rem;
    }

}
@media all and (max-width: 1220px){
    /*----------- section-1 -------------*/
    .section-1-title{
        font-size: 3.5rem;
        white-space: nowrap;
    }
    .section-1-text{
        font-size: 1.5rem;
    }


}
@media all and (max-width: 992px){
    /*----------- section-1 -------------*/
    /*.navbar{*/
        /*position: absolute;*/
        /*z-index: 25;*/
    /*}*/
    .nav-item{

    }
    nav.navbar{
        /*align-items: start;*/
    }
    a.nav-link{
        padding: 0;
    }
    img.logo-small{
        max-width: 50px;
        margin: 0;
    }
    .logo{
        margin: 0;
    }
    .dots{
        display: none;
    }
    .logo{
        max-width: 250px;
        margin-top: 10%;
    }
    .section-1-title{
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-1-title p{
        text-align: center;
    }
    .section-1-title{
        border-right: none;
    }
    .section-1-text{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .col-video{
        padding-right: 0;
        border-right: none;
    }
    .sec-3-right-block{
        border-left: none;
        margin-left: 0;
    }
    /*----------- section-8 -------------*/
    .footer-right-block{
        border-left: none;
        padding: 0;
    }
    .footer-right-block{
        margin-top: 30px;
    }
    .footer-left-title-2{
        margin-top: 50px;
    }
    /*----------- section-6 -------------*/
    .sec-6-video iframe{
        max-height: 350px;
    }
    .sec-6-right-block h2{
        font-size: 1.2rem;
    }
    .sec-6-right-block-text p{
        font-size: 1rem;
    }
    .salon-meri{
        font-size: 1.3rem;
    }
    .phone{
        display: none;
    }
    .popup_my{
        width: 650px;
    }
    /*--------view----------*/
    .view-header-block .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .empty-space{
        height: 50px;
    }
    .image-phone{
        justify-content: center;
        margin-bottom: 50px;
    }
    .review-name{
        margin-top: 30px;
    }

}
@media all and (max-width: 600px){
    .sections{
        padding-left: 15px;
    }
    .menu__toggle {
        right: 15px;
    }
    .sec-1-title p{
        font-size: 2rem;
        line-height: normal;
         white-space: normal;
    }
    .sec-1-left-block{
        padding: 0 15px;
    }
    .sec-1-left-block .center-wrap .text-simple{
        font-size: 1.3rem;
        padding-bottom: 37px;
    }
    .sec-1-btn{
        width: 270px;
        height: 50px;
        font-size: 1.3rem;
    }
    .popup_my{
        width: 350px;
    }
    .pop-btn{
        width: 50%;
        font-size: 0.8rem;
    }
    .view-header{
        padding-left: 0;
        padding-right: 0;
    }
    .view-review-wrap{
        margin: 75px 0 50px 0;
    }
    .view-form{
        padding: 50px 0;
    }
}
@media all and (max-width: 515px){
    /*----------- section-1 -------------*/
    .logo{
        max-width: 120px;
        margin-top: 0;
    }
    .section-1-title{
        font-size: 2.5rem;
    }
    .section-1-text{
        font-size: 1rem;
    }
    /*----------- section-2 -------------*/
    .section2-container{
        padding-top: 5px;
    }
    .section-2-first-title{
        font-size: 1.2rem;
        padding: 10px 0;
    }
    .section-2-second-title{
        font-size: 1rem;
    }
    .section2-text{
        padding-top: 10px;
    }
    .sec-2-item{
        margin-bottom: 10px;
    }
    .sec-2-item-text{
        font-size: 0.9rem;
        padding: 10px 10px 0 27px;
    }

    /*----------- section-3 -------------*/
    .col-video{
        margin-right: 15px;
    }
    .section-3-title{
        font-size: 1.4rem;
        padding: 8% 0 4% 0;
    }
    .text-under-video{
        font-size: 1rem;
    }
    .text-below-form{
        font-size: 1rem;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 5px;
    }
    .sec-3-form{
        margin-top: 30px;
    }
    .sec-3-form input{
        font-size: 1rem;
    }
    .sec-3-form input::placeholder{
        font-size: 1rem;
    }
    .sec-3-form button{
        padding: 2px 15px;
    }

    /*----------- section-4 -------------*/
    .sec-4-title{
        font-size: 1.5rem;
    }
    .nav-text h3{
        font-size: 1rem;
    }
    .nav-link-tab{
        width: 30px;
        height: 15px;
    }
    .nav-link-tab-link img{
        width: 10px;
        height: 10px;
    }
    .tabs{
        margin-top: 40px;
    }
    .tab{
        font-size: 1rem;
    }

    /*----------- section-7 -------------*/
    .sec-7-title{
        font-size: 1.2rem;
        margin-bottom: 5%;
    }
    .map{
        height: 200px;
    }
    .map-text{
        font-size: 0.9rem;
        margin-bottom: 7px;
    }

    /*----------- section-8 -------------*/

    .footer-left-title-1{
        font-size: 1.5rem;
    }
    .footer-left-title-2{
        font-size: 1.2rem;
    }
    .footer-right-block{
        flex-direction: column;
    }
    .socs{
        margin: 30px 0;
        justify-content: space-around;
    }
    .footer-form{
        margin-right: 10px;
    }
    .footer-form button{
        font-size: 1.1rem;
        padding: 5px 25px 7px 25px;
    }

    /*----------- section-6 -------------*/
    .sec-6-title{
        font-size: 1.5rem;
    }
    .sec-6-text-hide{
        display: none;
    }
    .case-arrow-text{
        display: none;
    }
    .case-arrow{
        width: 100px;
    }

}

