@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
        url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("ttf"),
        url("../fonts/SegoeUIRegular/SegoeUIRegular.eot") format("eot");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
        url("../fonts/SegoeUIRegular/SegoeUISemiBold.ttf") format("ttf"),
        url("../fonts/SegoeUIRegular/SegoeUISemiBold.eot") format("eot");
	font-weight: 600;
	font-style: normal;
}

html,
body{
	box-sizing: border-box;
	height: 100%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: "SegoeUI", Arial, sans-serif;
	font-weight: 400;
	color: #000000;
	font-size: 24px;
	line-height: normal;
	background-color: #ffffff;
}

img{
	max-width: 100%;
	height: auto;
}

.quize-screen-main{
	min-height: 100%;
	display: flex;
}

.quize-screen-main-img{
	min-height: 980px;
	height: 100vh;
	background-color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
}

.quize-screen-main-graphics{
	width: 57.3%;
}
.quize-screen-main-content{
	width: 43.7%;
	padding: 3.5% 4%;
}

.quize-logo-phone{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 170px;
}

.logo{
	display: inline-block;
	text-decoration: none;
}

.list-style-none{
	padding: 0;
	margin: 0;
	list-style: none;
}

.quize-phone-item a{
	display: block;
	transition: 0.2s;
	font-family: "SegoeUI";
	font-weight: 600;
	text-decoration: none;
	color: #185cfb;
}

.quize-phone-item a:hover{
	opacity: 0.8;
}

.quize-phone-item a:focus{
	opacity: 0.5;
}

.quize-headline{
	color: #000000;
	font-size: 36px;
	font-weight: 600;	
}

.quize-screen-main-content .quize-headline{
	margin-bottom: 50px;
}

.blue-color{
	color: #185cfb;
}

.button{
	border: none;
	line-height: 1.2;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 18px 67px 18px 30px;
	font-size: 20px;
	font-weight: 400;
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	background-color: #185cfb;
	border-radius: 29px;
	overflow: hidden;
	position: relative;
}

.button:before{
	z-index: 1;
	content: " ";
	top: 0;
	left: 0;
	margin-left: -5px;
	position: absolute;
	width: 26px;
	height: 100%;
	transform: skewX(-25deg) translate(-100%, 0);
	background-color: rgba(255, 255, 255, 0.4);
}
.button:hover:before{
	transition: 0.7s ease-in-out;
	left: 100%;
	transform: skewX(-25deg) translate(100%, 0);
}

.button-left-icon:after{
	content: " ";
	position: absolute;
	display: block;
	width: 20px;
	height: 14px;
	right: 32px;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url("../img/arrow-right.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.quize-bonuce-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.quize-bonuce-list-item{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	width: 50%;
}

.quize-bonuce-list-item .bonuce-link{
	transition: 0.3s;
	display: block;
}

.quize-bonuce-list-item .bonuce-link:hover{
	opacity: 0.7;
}

.quize-bonuce-list-item .bonuce-link:focus{
	opacity: 0.4;
}

.quize-bonuce{
	margin-top: 55px;
}

.quize-bonuce-headline{
	font-size: 24px;
	color: #000000;
	font-weight: 400;
}
.mobile-icon-content{
	display: none;
}
.mobile-icon-content svg{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: #ffffff;
}
.mobile-icon-content{
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #185cfb;
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
}
/*--Quize container--*/
.quize-main-container{
	position: fixed;
	overflow-y: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: #ffff;
}

.quize-main-item{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.quize-left-column{
	width: 68%;
	padding: 55px 5%  55px 8%;
	position: relative;
}

.quize-right-column{
	width: 32%;
	padding: 55px 2.5%;
}

.quize-main-item .quize-logo-phone{
	margin-bottom: 80px;	
}
.promo-text{
	padding-left: 44px;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
}
.promo-text:before{
	content: " ";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 6px;
	vertical-align: top;
	width: 28px;
	height: 25px;
	background-image: url(../img/list-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.question-headline{
	font-size: 36px;
	color: #000000;
	font-weight: 400;
	margin:  28px 0;
}
.promo-form-list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.radio-label {
	display: block;
	position: relative;
	font-size: 20px;
	font-weight: 400;
}
.radio-label .radio-text{
	display: inline-block;
	padding: 15px 15px 15px 60px;	
	border: 1px solid #e3e3e3;
	border-radius: 7px;	
}
.radio-label input[type="radio"]{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin: 0 5px 0 5px;
	left: 0;
}
.promo-form-list-item{
	min-width: 339px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.radio-label .radio-text{
	width: 100%;
}
.radio-text:before{
	content: " ";
	position: absolute;
	display: block;
	left: 18px;
	top: 15px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #e3e3e3;
	border: 2px solid transparent;
}
.radio-label input:checked + .radio-text:before{
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.43);
	border-color: #185cfb;
	background: transparent;
}
.radio-label input:checked + .radio-text:after{
    content: " ";
    position: absolute;
    display: block;
    left: 23px;
    top: 20px;
    width: 18px;
    height: 18px;
    background-color: #185cfb;
    border-radius: 50%;
}
.radio-label input:checked + .radio-text{
	color: #185cfb;
	border-color: #185cfb;
	box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
}
.control-element{
	display: flex;
	justify-content: space-between;
	/*position: absolute;*/
	/*bottom: 187px;*/
	/*left: 0;*/
	width: 100%;
	/*padding-left: 13%;
	padding-right: 8%;	*/
	margin-top: 180px;
}
.control-element .with-left-icon{
	padding: 13px 29px 13px 63px;
}
.control-element .with-left-icon:after{
	content: " ";
	position: absolute;
	left: 25px;
	top: 50%;
	margin-top: -7px;
	display: block;
	width: 17px;
	height: 15px;
	background-image: url("../img/checked.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.wite-button{
	background: #ffffff;
	border: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	border-radius: 29px;
	font-size: 20px;
	color: #707070;
	font-weight: 400;
	padding: 13px 29px 13px 54px;
	position: relative;
}
.wite-button:after{
	content: " ";
	position: absolute;
	left: 25px;
	top: 50%;
	margin-top: -7px;
	display: block;
	width: 18px;
	height: 12px;
	background: url("../img/arrow-left.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
button:focus{
	outline: none;
}
.background-grey{
	background: #f7f7f7;
}
.progress-bar{
	height: 5px;
	background: #e3e3e3
}
.progress-bar-line{
	height: 5px;
	background: #185cfb;
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	width: 0;
}
.progress-wrapper{
	margin-top: 30px;
	margin-bottom: 60px;
}
.progress-status{
	color: #707070;
	font-size: 20px;
}
.progress-inprocent{
	font-weight: 600;
	color: #185cfb;
}
.quize-right-text{
	font-size: 18px;
	color: #707070;
	line-height: 21px;
}
.social-button{
	transition: 0.2s;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border-radius: 5px;
	color: #707070;
	padding: 9px 20px;
	padding-left: 49px;
	position: relative;
}
.telegram-social:after,
.viber-social:after{
	content: " ";
	display: block;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background-image: url("../img/viber-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
.viber-social:focus,
.viber-social:hover{
	color: #ffffff;
	background-color: #6f3faa;
}
.telegram-social:after{
	background-image: url("../img/telegram.svg");
}
.telegram-social:focus,
.telegram-social:hover{
	background-color: #7aa5da;
	color: #ffffff;
}
.quize-right-text .quize-right-social{
	width: 178px;
}
.quize-right-social-wrapper p{
	margin: 0;
	margin-bottom: 20px;
}
.quize-right-text{
	width: 182px;
}
.quize-right-social-wrapper .quize-right-text{
	margin-right: 15px;
}
.quize-right-social{
	min-width: 162px;
	flex-grow: 1;
}
.quize-right-social-wrapper{
	display: flex;
	flex-wrap: wrap;
}
.quize-right-social .social-button{
	max-width: 152px;
	width: 100%;
}
.quize-right-social {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.manager-picture{
	border-radius: 100%;
}
.quize-maneger-avatar{
	position: relative;
	width: 100px;
}
.maneger-status{
	position: absolute;
	right: 8px;
	bottom: 8px;
	display: inline-block;
	width: 20px;
	height: 20px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	border: 1px solid #ffffff;
	border-radius: 100%;
}
.quize-manager-name{
	font-size: 24px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 9px;
}
.status-online{
	background-color:  #0db429;
}
.quize-position{
	font-size: 18px;
	color: #707070;
	font-weight: 400;
	margin: 0;
}
.quize-maneger-info{
	width: 171px;
	margin-left: 30px;
}
.quize-maneger-top{
	display: flex;
}
.quize-maneger-top{
	margin-top: 80px;
}
.manager-qustion{
	position: relative;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	border-radius: 7px;
	padding: 19px;
}
.manager-qustion::after, .manager-qustion::before {
    content: '';
    position: absolute;
    background: #fff;
    left: 45px;
    top: -8px;
    width: 20px;
    height: 20px;
         box-shadow: 0 0 7px #000;
    z-index: -1; 
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.manager-qustion::before {
	z-index: 1; 
	box-shadow: none; 
}
.manager-qustion p{
	margin: 0;
	font-size: 20px;
	color: #707070;
}
.quize-maneger-bottom{
	margin-top: 10px;
}
.bonus-in-quize{
	margin-top: 30px;
}
.decor-text{
	margin: 0;
	font-weight: 600;
	line-height: 74px;
	color: #ececec;
	font-size: 70px;
	margin-bottom: 1.5rem;
}
.bonus-in-quize .quize-bonuce-list-item{
	min-width: 268px;
}
.chekbox-label input[type="checkbox"]{
	opacity: 0;
    visibility: hidden;
    position: absolute;
    margin: 0 5px 0 5px;
    left: 0;
}
.chekbox-label .radio-text:before{
	border-radius: 0px;
}
.chekbox-label input:checked + .radio-text:before{
	background-color: #185cfb; 
}
.chekbox-label input:checked + .radio-text:after{
	width: 17px;
	height: 15px;
	background-color: transparent;
	background-image: url("../img/checkbox.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 25px;
	top: 21px;
}
.promo-form-list .radio-text{
	transition: 0.2s;	
}
.promo-form-list label:hover .radio-text{
	box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.standart-input{
	display: block;
	position: relative;
}
.standart-input input{
	transition: 0.2s;
	height: 59px;
	border: none;
	border: 1px solid #e3e3e3;
	border-radius: 7px;
	display: block;
	width: 100%;
	background-color: #f7f7f7;
	font-size: 20px;
	color: #000000;
	padding-left: 81px;
	max-width: 309px;
}
.standart-input input:hover{
	box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05)
}
.standart-input:before{
	content: " ";
	display: block;
	position: absolute;
	left: 1px;
	bottom: 1px;
	top: 1px;
	width: 60px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: #fff;
}
.standart-input:after{
	content: " ";
	position: absolute;
    display: block;
    left: 18px;
    top: 15px;
    width: 28px;
    height: 28px;
	background: #e3e3e3;
	z-index: 1;
}
.standart-input .radio-text:before,
.standart-input .radio-text:after{
	display: none;
}
.standart-input input:focus{
	outline: none;
}
.standart-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #707070;
}
.standart-input input::-moz-placeholder { /* Firefox 19+ */
  color: #707070;
}
.standart-input input:-ms-input-placeholder { /* IE 10+ */
  color: #707070;
}
.standart-input input:-moz-placeholder { /* Firefox 18- */
  color: #707070;
}
.radio-style:after{
	border-radius: 50%;
}
.last-step .progress-status{
	display: none;
}
.last-step .promo-text{
	text-align: center;
}
.last-step .promo-text:before{
	display: none;
}
.last-step .promo-text{
	border: none;
	margin-bottom: 80px;
	margin-top: 30px;
	padding: 0;
}
.last-step-text{
	margin: 0px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	color: #707070;
}
.last-step-text .progress-wrapper{
	margin-bottom: 0;
}
.bonucs-in-last-step{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.bonucs-in-last-left{
	width: 320px;
	position: relative;
}
.bonucs-in-last-left:after{
	content: " ";
	display: block;
	position: absolute;
	width: 96px;
	height: 53px;
	background-image: url("../img/arrow-right-big.svg");
	background-repeat: no-repeat;
	right: -96px;
	top: 50%;
	transform: translate(0, -50%);
}
.bonucs-in-last-right{
	width: 567px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	padding: 25px 78px;
}
.bonucs-in-last-left .quize-bonuce-list{
	flex-direction: column;
}
.bonucs-in-last-left .quize-bonuce-list-item{
	width: 100%;
}
.bonucs-in-last-send{
	font-size: 24px;
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}
.were-send-label{
	display: inline-block;
	position: relative;
}
.were-send-label input{
	visibility: hidden;
	opacity: 0;
	position: absolute;
}
.were-send-label-text{
	display: inline-block;
	background-color: #f7f7f7;
	font-size: 24px;
	font-weight: 400;
	width: 198px;	
	height: 50px;
	padding: 8px 20px 8px 67px; 
	text-align: left;
}
.were-send-watsapp .were-send-label-text:before,
.were-send-telegram .were-send-label-text:before,
.were-send-viber .were-send-label-text:before{
	content: " ";
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background-image: url(../img/viber-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.were-send-telegram .were-send-label-text:before{
	background-image: url(../img/telegram.svg);
}
.were-send-watsapp .were-send-label-text:before{
	background-image: url(../img/watsapp.svg);
}
.were-send-label input:checked + .were-send-label-text{
	color: #ffffff;
}
.were-send-viber input:checked + .were-send-label-text{
	background-color: #6f3faa;
}
.were-send-telegram input:checked + .were-send-label-text{
	background-color: #7aa5da;
}
.were-send-watsapp input:checked + .were-send-label-text{
	background-color: #75b73b;
}
.where-send-list{
	display: flex;
	flex-wrap:wrap;
}
.where-send-item{
	margin-right: 15px;
}
.where-send-item:nth-child(2n){
	margin-right: 0px;
}
.where-send-item:nth-child(n + 3){
	margin-top: 15px;
}
.confidency-label{
	color: #707070;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	display: block;
	margin-top: 25px;
	padding-left: 30px;
}
.confidency-label a{
	color: #185cfb;
	text-decoration: underline;
}
.confidency-label input{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin: 1px 0px 0px 1px;
}
.label-text{
	display: inline-block;
}
.label-text:before{
	content: " ";
	position: absolute;
	left: 0px;
	top: 2px;
	width: 15px;
	height: 15px;
	background: #185cfb;
}
.confidency-label input:checked + .label-text:after{
    content: " ";
    position: absolute;
    display: block;
    width: 11px;
    height: 9px;
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 3px;
    top: 4px;
}
.bonucs-text{
	margin-top: 0;
	margin-bottom: 10px;
}
.quize-slider-item{
	display: none;
	min-height: 450px;
}
.quize-slider-active{
	display: block;
}
.quize-main-container{
	display: none;
}
.quize-main-container-open{
	display: block;
}
.overlow-hidden{
	overflow: hidden;
}
.enter-your-number {
	display: none;
}
.enter-your-number-show{
	display: block;
}

.single-number-input{
	height: 32px;
	border: none;
	border-bottom: 1px solid #e3e3e3;
	font-size: 16px;
	color: #707070;
	display: block;
	width: 89%;
	margin-left: auto;
}
.single-number-input:focus{
	outline: none;
}
.enter-your-number-label{
	position: relative;
	display: block;
}
.enter-your-number-icon{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	background-image: url("../img/viber-icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.standart-link{
	color: #185cfb;
	font-size: 16px;
	display: block;
	margin-top: 14px;
	text-align: center;
	text-decoration: none;
}
.enter-your-number-massage{
	margin: 0px;
	margin-bottom: 16px;
	font-size: 24px;
	text-align: center;
}
.telegram-icon .enter-your-number-icon{
	 background-image: url("../img/telegram.svg");
 }
.whatsapp-icon .enter-your-number-icon{
	background-image: url("../img/watsapp.svg");
}
.before-enter-your-number-close{
	display: none;
}
.standart-blue{
    width: 100%;
    padding: 14px 15px;
    background: #185cfb;
    color: #ffffff;
    border: none;
    display: block;
    font-size: 20px;
}
.enter-your-number .standart-blue{
    margin-top: 25px;
}

@media only screen and (max-width: 1650px) {
  	.quize-logo-phone{
  		margin-bottom: 120px;
  	}
  	.quize-screen-main-graphics{
  		width: 50%;
  	}
  	.quize-screen-main-content{
  		width: 50%;
  	}
  	.quize-screen-main-img{
  		min-height: 700px;
  	}
}
@media only screen and (max-width: 1380px){
	.quize-logo-phone{
		margin-bottom: 80px;
	}
	.quize-screen-main-img{
		min-height: 670px;
	}
	.quize-phone-item a{
		font-size: 20px;
	}
}
@media only screen and (max-width: 1200px){
	.quize-screen-main-content{
		width: 100%;
	}
	.quize-screen-main-graphics{
		display: none;
	}
	.quize-phone-item a{
		font-size: 24px;
	}
	.quize-headline{
		max-width: 800px;
	}
	.quize-bonuce-list-item{
		width: auto;
	}
}
@media only screen and (max-width: 600px){
	.quize-screen-main-content{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.quize-screen-main-content,
	.quize-screen-main-content .quize-headline{
		text-align: center;
	}
	.quize-bonuce-list-item{
		width: 100%;
	}
	.quize-logo-phone{
		margin-bottom: 50px;
	}
	.mobile-icon-content{
		display: inline-block;
		padding: 5px;
	}
	.has-drop > a{
		font-size: 0;
	}
	.quize-phone-item a:hover,	
	.quize-phone-item a:focus{
		opacity: 1;
	}
	.quize-bonuce-list{
		margin-left: 0;
		margin-right: 0;
	}
	.quize-bonuce-list-item{
		padding-left: 0;
		padding-right: 0;
	}
	.logo {
		max-width: 200px;
	}
}
@media only screen and (max-width: 340px){
	.quize-bonuce-headline{
		font-size: 20px;
	}
	.quize-headline{
		font-size: 26px;
	}
}