@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("ttf"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.eot") format("eot");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

html,
body {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

button {
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	font-family: "SegoeUI", Arial, sans-serif;
	font-weight: 400;
	color: #000000;
	font-size: 24px;
	line-height: normal;
	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.quize-screen-main {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.quize-screen-main-img {
	min-height: 980px;
	height: 100vh;
	background-color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
}

.quize-screen-main-graphics {
	width: 57.3%;
}

.quize-screen-main-content {
	width: 43.7%;
	padding: 3.5% 4%;
}

.quize-logo-phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 170px;
}

.logo {
	display: inline-block;
	text-decoration: none;
}

.list-style-none {
	padding: 0;
	margin: 0;
	list-style: none;
}

.quize-phone-item a {
	display: block;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	font-family: "SegoeUI";
	font-weight: 600;
	text-decoration: none;
	color: #185cfb;
}

.quize-phone-item a:hover {
	opacity: 0.8;
}

.quize-phone-item a:focus {
	opacity: 0.5;
}

.quize-headline {
	color: #000000;
	font-size: 36px;
	font-weight: 600;
}

.quize-screen-main-content .quize-headline {
	margin-bottom: 50px;
}

.blue-color {
	color: #185cfb;
}

.button {
	border: none;
	line-height: 1.2;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 18px 67px 18px 30px;
	font-size: 20px;
	font-weight: 400;
	-webkit-box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	background-color: #185cfb;
	border-radius: 29px;
	overflow: hidden;
	position: relative;
}

.button:before {
	z-index: 1;
	content: " ";
	top: 0;
	left: 0;
	margin-left: -5px;
	position: absolute;
	width: 26px;
	height: 100%;
	-webkit-transform: skewX(-25deg) translate(-100%, 0);
	-ms-transform: skewX(-25deg) translate(-100%, 0);
	transform: skewX(-25deg) translate(-100%, 0);
	background-color: rgba(255, 255, 255, 0.4);
}

.button:hover:before {
	-webkit-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	left: 100%;
	-webkit-transform: skewX(-25deg) translate(100%, 0);
	-ms-transform: skewX(-25deg) translate(100%, 0);
	transform: skewX(-25deg) translate(100%, 0);
}

.button-left-icon:after {
	content: " ";
	position: absolute;
	display: block;
	width: 20px;
	height: 14px;
	right: 32px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background-image: url("../img/arrow-right.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.quize-bonuce-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.quize-bonuce-list-item {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	width: 50%;
}

.quize-bonuce-list-item .bonuce-link {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	display: block;
	position: relative;
}

.quize-bonuce-list-item .bonuce-link:hover {
	opacity: 0.7;
}

.quize-bonuce-list-item .bonuce-link:focus {
	opacity: 0.4;
}

.quize-bonuce {
	margin-top: 55px;
}

.quize-bonuce-headline {
	font-size: 24px;
	color: #000000;
	font-weight: 400;
}

.mobile-contacts-menu {
	display: none;
}

.mobile-icon-content svg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	fill: #ffffff;
}

.mobile-icon-content {
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	padding: 0;
	background-color: #185cfb;
	-webkit-box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
}
/*--Quize container--*/
.quize-main-container {
	position: fixed;
	overflow-y: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: #ffffff;
}

.quize-main-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 100%;
}

.quize-left-column {
	width: 68%;
	padding: 55px 5%  55px 8%;
	position: relative;
}

.quize-right-column {
	width: 32%;
	padding: 55px 2.5%;
}

.quize-main-item .quize-logo-phone {
	margin-bottom: 80px;
}

.promo-text {
	padding-left: 44px;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
}

.promo-text:before {
	content: " ";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 6px;
	vertical-align: top;
	width: 28px;
	height: 25px;
	background-image: url(../img/list-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.question-headline {
	font-size: 36px;
	color: #000000;
	font-weight: 400;
	margin: 28px 0;
}

.promo-form-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.radio-label {
	display: block;
	position: relative;
	font-size: 20px;
	font-weight: 400;
}

.radio-label .radio-text {
	display: inline-block;
	padding: 15px 15px 15px 60px;
	border: 1px solid #e3e3e3;
	border-radius: 7px;
}

.radio-label input[type="radio"] {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin: 0 5px 0 5px;
	left: 0;
}

.promo-form-list-item {
	min-width: 339px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.radio-label .radio-text {
	width: 100%;
}

.radio-text:before {
	content: " ";
	position: absolute;
	display: block;
	left: 18px;
	top: 15px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #e3e3e3;
	border: 2px solid transparent;
}

.radio-label input:checked + .radio-text:before {
	-webkit-box-shadow: 0 0 6px rgba(24, 92, 251, 0.43);
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.43);
	border-color: #185cfb;
	background: transparent;
}

.radio-label input:checked + .radio-text:after {
	content: " ";
	position: absolute;
	display: block;
	left: 23px;
	top: 20px;
	width: 18px;
	height: 18px;
	background-color: #185cfb;
	border-radius: 50%;
}

.radio-label input:checked + .radio-text {
	color: #185cfb;
	border-color: #185cfb;
	-webkit-box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
	box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
}

.control-element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/*position: absolute;*/
	/*bottom: 187px;*/
	/*left: 0;*/
	width: 100%;
	/*padding-left: 13%;
	padding-right: 8%;	*/
	margin-top: 180px;
}

.control-element .with-left-icon {
	padding: 13px 29px 13px 63px;
}

.control-element .with-left-icon:after {
	content: " ";
	position: absolute;
	left: 25px;
	top: 50%;
	margin-top: -7px;
	display: block;
	width: 17px;
	height: 15px;
	background-image: url("../img/checked.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.wite-button {
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	border-radius: 29px;
	font-size: 20px;
	color: #707070;
	font-weight: 400;
	padding: 13px 29px 13px 54px;
	position: relative;
}

.wite-button:after {
	content: " ";
	position: absolute;
	left: 25px;
	top: 50%;
	margin-top: -7px;
	display: block;
	width: 18px;
	height: 12px;
	background: url("../img/arrow-left.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

button:focus {
	outline: none;
}

.background-grey {
	background: #f7f7f7;
}

.progress-bar {
	height: 8px;
	background: #e3e3e3;
	position: relative;
}

.progress-bar-line {
	height: 8px;
	background-color: #185cfb;
	-webkit-box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	box-shadow: 0 0 6px rgba(24, 92, 251, 0.38);
	position: relative;
}
/*--animaion progressbar--*/
.progress-bar-line {
	background-color: #185cfb;
	position: relative;
	overflow: hidden;
}

.progress-bar-line:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-size: 50px 50px;
	overflow: hidden;
	-webkit-animation: move 2s linear infinite;
	animation: move 2s linear infinite;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
}

.progress-wrapper {
	margin-top: 30px;
	margin-bottom: 60px;
}

.progress-status {
	color: #707070;
	font-size: 20px;
}

.progress-inprocent {
	font-weight: 600;
	color: #185cfb;
}

.quize-right-text {
	font-size: 18px;
	color: #707070;
	line-height: 21px;
}

.social-button {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border-radius: 5px;
	color: #707070;
	padding: 9px 20px;
	padding-left: 49px;
	position: relative;
}

.telegram-social:after,
.viber-social:after {
	content: " ";
	display: block;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background-image: url("../img/viber-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.telegram-social:after {
	background-image: url("../img/telegram.svg");
}

.quize-right-text .quize-right-social {
	width: 178px;
}

.quize-right-social-wrapper p {
	margin: 0;
	margin-bottom: 20px;
}

.quize-right-text {
	width: 182px;
}

.quize-right-social-wrapper .quize-right-text {
	margin-right: 15px;
}

.quize-right-social {
	min-width: 162px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.quize-right-social-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.quize-right-social .social-button {
	max-width: 152px;
	width: 100%;
}

.quize-right-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.manager-picture {
	border-radius: 100%;
}

.quize-maneger-avatar {
	position: relative;
	width: 100px;
}

.maneger-status {
	position: absolute;
	right: 8px;
	bottom: 8px;
	display: inline-block;
	width: 20px;
	height: 20px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	border: 1px solid #ffffff;
	border-radius: 100%;
}

.quize-manager-name {
	font-size: 24px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 9px;
}

.status-online {
	background-color: #0db429;
}

.quize-position {
	font-size: 18px;
	color: #707070;
	font-weight: 400;
	margin: 0;
}

.quize-maneger-info {
	width: 171px;
	margin-left: 30px;
}

.quize-maneger-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.quize-maneger-top {
	margin-top: 80px;
}

.manager-qustion {
	position: relative;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	border-radius: 7px;
	padding: 19px;
}

.manager-qustion::after, .manager-qustion::before {
	content: '';
	position: absolute;
	background: #fff;
	left: 45px;
	top: -8px;
	width: 20px;
	height: 20px;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
	z-index: -1;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.manager-qustion::before {
	z-index: 1;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.manager-qustion p {
	margin: 0;
	font-size: 20px;
	color: #707070;
}

.quize-maneger-bottom {
	margin-top: 10px;
}

.bonus-in-quize {
	margin-top: 30px;
}

.decor-text {
	margin: 0;
	font-weight: 600;
	line-height: 74px;
	color: #ececec;
	font-size: 70px;
	margin-bottom: 1.5rem;
}

.bonus-in-quize .quize-bonuce-list-item {
	min-width: 268px;
}

.chekbox-label input[type="checkbox"] {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin: 0 5px 0 5px;
	left: 0;
}

.chekbox-label .radio-text:before {
	border-radius: 0px;
}

.chekbox-label input:checked + .radio-text:before {
	background-color: #185cfb;
}

.chekbox-label input:checked + .radio-text:after {
	width: 17px;
	height: 15px;
	background-color: transparent;
	background-image: url("../img/checkbox.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 25px;
	top: 21px;
}

.promo-form-list .radio-text {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.promo-form-list label:hover .radio-text {
	-webkit-box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
	box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.standart-input {
	display: block;
	position: relative;
}

.standart-input input {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	height: 59px;
	border: none;
	border: 1px solid #e3e3e3;
	border-radius: 7px;
	display: block;
	width: 100%;
	background-color: #f7f7f7;
	font-size: 20px;
	color: #000000;
	padding-left: 81px;
	max-width: 309px;
}

.standart-input input:hover {
	-webkit-box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
	box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.05);
}

.standart-input:before {
	content: " ";
	display: block;
	position: absolute;
	left: 1px;
	bottom: 1px;
	top: 1px;
	width: 60px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: #fff;
}

.standart-input:after {
	content: " ";
	position: absolute;
	display: block;
	left: 18px;
	top: 15px;
	width: 28px;
	height: 28px;
	background: #e3e3e3;
	z-index: 1;
}

.standart-input .radio-text:before,
.standart-input .radio-text:after {
	display: none;
}

.standart-input input:focus {
	outline: none;
}

.standart-input input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #707070;
}

.standart-input input::-moz-placeholder {
	/* Firefox 19+ */
	color: #707070;
}

.standart-input input:-ms-input-placeholder {
	/* IE 10+ */
	color: #707070;
}

.standart-input input:-moz-placeholder {
	/* Firefox 18- */
	color: #707070;
}

.radio-style:after {
	border-radius: 50%;
}

.last-step .progress-status {
	display: none;
}

.last-step .promo-text {
	text-align: center;
}

.last-step .promo-text:before {
	display: none;
}

.last-step .promo-text {
	border: none;
	margin-bottom: 80px;
	margin-top: 30px;
	padding: 0;
}

.last-step-text {
	margin: 0px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	color: #707070;
}

.last-step-text .progress-wrapper {
	margin-bottom: 0;
}

.bonucs-in-last-step {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.bonucs-in-last-left {
	width: 320px;
	position: relative;
}

.bonucs-in-last-left:after {
	content: " ";
	display: block;
	position: absolute;
	width: 96px;
	height: 53px;
	background-image: url("../img/arrow-right-big.svg");
	background-repeat: no-repeat;
	right: -96px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.bonucs-in-last-right {
	width: 567px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	padding: 25px 78px;
}

.bonucs-in-last-left .quize-bonuce-list {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.bonucs-in-last-left .quize-bonuce-list-item {
	width: 100%;
}

.bonucs-in-last-send {
	font-size: 24px;
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}

.were-send-label {
	display: inline-block;
	position: relative;
}

.were-send-label input {
	visibility: hidden;
	opacity: 0;
	position: absolute;
}

.were-send-label-text {
	display: inline-block;
	background-color: #f7f7f7;
	font-size: 24px;
	font-weight: 400;
	width: 198px;
	height: 50px;
	padding: 8px 20px 8px 67px;
	text-align: left;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.social-button {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.social-button:hover,
.social-button:focus,
.were-send-label-text:hover {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: -webkit-linear-gradient(119deg,#ebedef,#fff);
	background: -o-linear-gradient(119deg,#ebedef,#fff);
	background: linear-gradient(331deg,#ebedef,#fff);
	-webkit-box-shadow: -2px 2px 14px 0 #ebedef;
	box-shadow: -2px 2px 14px 0 #ebedef;
}

.were-send-watsapp .were-send-label-text:before,
.were-send-telegram .were-send-label-text:before,
.were-send-viber .were-send-label-text:before {
	content: " ";
	display: block;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	background-image: url(../img/viber-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.were-send-telegram .were-send-label-text:before {
	background-image: url(../img/telegram.svg);
}

.were-send-watsapp .were-send-label-text:before {
	background-image: url(../img/watsapp.svg);
}

.where-send-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.where-send-item {
	margin-right: 15px;
}

.where-send-item:nth-child(2n) {
	margin-right: 0px;
}

.where-send-item:nth-child(n + 3) {
	margin-top: 15px;
}

.confidency-label {
	color: #707070;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	display: block;
	margin-top: 25px;
	padding-left: 30px;
}

.confidency-label a {
	color: #185cfb;
	text-decoration: underline;
}

.confidency-label input {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin: 1px 0px 0px 1px;
}

.label-text {
	display: inline-block;
}

.label-text:before {
	content: " ";
	position: absolute;
	left: 0px;
	top: 2px;
	width: 15px;
	height: 15px;
	background: #185cfb;
}

.confidency-label input:checked + .label-text:after {
	content: " ";
	position: absolute;
	display: block;
	width: 11px;
	height: 9px;
	background-image: url(../img/checkbox.svg);
	background-repeat: no-repeat;
	background-size: contain;
	left: 3px;
	top: 4px;
}

.bonucs-text {
	margin-top: 0;
	margin-bottom: 10px;
}

.quize-slider-item {
	display: none;
	min-height: 450px;
}

.quize-slider-active {
	display: block;
}

.quize-main-container {
	display: none;
}

.quize-main-container-open {
	display: block;
}

.overlow-hidden {
	overflow: hidden;
}

.enter-your-number {
	display: none;
}

.enter-your-number-show {
	display: block;
}

.single-number-input {
	height: 32px;
	border: none;
	border-bottom: 1px solid #e3e3e3;
	font-size: 16px;
	color: #707070;
	display: block;
	width: 89%;
	margin-left: auto;
}

.single-number-input:focus {
	outline: none;
}

.enter-your-number-label {
	position: relative;
	display: block;
}

.enter-your-number-icon {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	background-image: url("../img/viber-icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.standart-link {
	color: #185cfb;
	font-size: 16px;
	display: block;
	margin-top: 14px;
	text-align: center;
	text-decoration: none;
}

.enter-your-number-massage {
	margin: 0px;
	margin-bottom: 16px;
	font-size: 24px;
	text-align: center;
}

.telegram-icon .enter-your-number-icon {
	background-image: url("../img/telegram.svg");
}

.whatsapp-icon .enter-your-number-icon {
	background-image: url("../img/watsapp.svg");
}

.before-enter-your-number-close {
	display: none;
}

.standart-blue {
	width: 100%;
	padding: 14px 15px;
	background: #185cfb;
	color: #ffffff;
	border: none;
	display: block;
	font-size: 20px;
	text-decoration: none;
}

.enter-your-number .standart-blue {
	margin-top: 25px;
}

.delate-bonus .bonus-in-quize {
	display: none;
}

.lock {
	position: absolute;
	display: block;
	width: 43px;
	height: 43px;
	right: -17px;
	top: -12px;
	background-color: #185cfb;
	border: 7px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.lock:after {
	content: " ";
	display: block;
	width: 12px;
	height: 16px;
	position: absolute;
	left: 8px;
	top: 5px;
	background-image: url("../img/lock_icon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.unlock:after {
	background-image: url("../img/unlock-icon.png");
	width: 16px;
	height: 14px;
	left: 8px;
	top: 7px;
}

.progress-last-slid-percent-wrapper {
	position: absolute;
	right: 5%;
	top: -48px;
	margin-right: -20px;
}

.progress-last-slid-percent-label {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	color: #185cfb;
}

.progress-last-slid-percent-decoration {
	text-align: center;
}

.next:disabled {
	cursor: not-allowed;
}

.next:disabled:before {
	display: none;
}

.viber-social {
	margin-right: 15px;
}

.next:hover:before,
.next:disabled:before {
	display: none;
}

.next:before {
	-webkit-animation: glare 1.2s infinite;
	animation: glare 1.2s infinite;
}

@-webkit-keyframes glare {
	from {
		-webkit-transform: skewX(-25deg) translate(-100%, 0);
		transform: skewX(-25deg) translate(-100%, 0);
		left: -300px;
	}

	to {
		-webkit-transform: skewX(-25deg) translate(100%, 0);
		transform: skewX(-25deg) translate(100%, 0);
		left: 100%;
	}
}

@keyframes glare {
	from {
		-webkit-transform: skewX(-25deg) translate(-100%, 0);
		transform: skewX(-25deg) translate(-100%, 0);
		left: -300px;
	}

	to {
		-webkit-transform: skewX(-25deg) translate(100%, 0);
		transform: skewX(-25deg) translate(100%, 0);
		left: 100%;
	}
}

.has-drop {
	position: relative;
	padding-right: 32px;
}

.has-drop:after {
	content: " ";
	display: block;
	width: 18px;
	height: 11px;
	position: absolute;
	right: 0;
	top: 13px;
	background-image: url("../img/drop_icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

.quize-drop-list {
	position: absolute;
	top: 100%;
	background-color: #ffffff;
	left: 0;
}

.quize-phone-list .quize-drop-list {
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	list-style: none;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 10px;
	width: 100%;
	-webkit-transform: scale(0.96);
	-ms-transform: scale(0.96);
	transform: scale(0.96);
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

.has-drop:hover .quize-drop-list {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.quize-drop-list li {
	margin-bottom: 10px;
}

.quize-drop-list li:last-child {
	margin-bottom: 0;
}

.quize-screen-main .lock {
	right: 5px;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 50px 50px;
	}
}

.thank-you-page-wrapper {
	height: 100%;
}

.bonus-video iframe {
	display: block;
	max-width: 100%;
	border: none;
}

.bonus-video {
	margin-top: 60px;
}

.download-bonus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 92px;
}

.download-title {
	margin-top: 0;
	margin-bottom: 4px;
	margin-left: 4px;
}

.download-action {
	padding-left: 20px;
}

.download-link:hover {
	text-decoration: none;
}

.download-link {
	display: block;
	position: relative;
	padding-left: 40px;
}

.download-link:before {
	content: " ";
	display: block;
	position: absolute;
	background-image: url("../img/download_link.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 23px;
	height: 24px;
	top: 5px;
	left: 5px;
}

.download_icon {
	display: inline-block;
	vertical-align: middle;
}

.thank-you-in-page-image svg {
	display: block;
	margin: auto;
}

.thank-you-page-wrapper .question-headline {
	max-width: 680px;
	margin: 38px auto 60px auto;
	text-align: center;
}

.thank-you-page-wrapper .standart-blue {
	max-width: 446px;
	text-align: center;
	margin: auto;
}

.question-promo {
	color: #707070;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-top: 15px;
}

.thank-you-in-page {
	margin-top: 20%;
}

.hidden-bonus-block {
	display: none;
}

.mobile-main-contacts-navigation {
	display: none;
}

.price-icon {
	position: relative;
}

.price-icon:after {
	content: " ";
	display: inline-block;
	vertical-align: baseline;
	width: 23px;
	height: 17px;
	background-image: url("../img/arrow-right-button.svg");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 10px;
}

@media only screen and (max-width: 1800px) {
	.bonucs-in-last-right {
		padding: 25px 34px;
		width: 480px;
	}

	.bonucs-in-last-left:after {
		display: none;
	}

	.bonucs-in-last-right {
		margin-left: 60px;
	}

	.quize-right-text {
		margin-right: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 1650px) {
	.quize-logo-phone {
		margin-bottom: 120px;
	}

	.quize-screen-main-graphics {
		width: 50%;
	}

	.quize-screen-main-content {
		width: 50%;
	}

	.quize-screen-main-img {
		min-height: 700px;
	}
}

@media only screen and (max-width: 1570px) {
	.bonucs-in-last-step {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.bonucs-in-last-right {
		margin-left: 0;
	}

	.bonucs-in-last-right {
		width: 100%;
		padding: 25px 78px;
	}

	.where-send-item:nth-child(n + 3) {
		margin-top: 0;
	}

	.where-send-item:nth-child(n + 4) {
		margin-top: 15px;
	}

	.where-send-item:nth-child(2n) {
		margin-right: 15px;
	}

	.where-send-item:nth-child(3n) {
		margin-right: 0;
	}

	.bonucs-in-last-left .quize-bonuce-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.bonucs-in-last-left .quize-bonuce-list-item {
		width: 300px;
	}

	.bonucs-in-last-left {
		width: 100%;
	}

	.bonucs-in-last-right {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		margin-bottom: 40px;
	}

	.bonucs-text {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1420px) {
	.bonucs-in-last-right {
		padding: 25px 38px;
	}

	.enter-your-number .standart-blue {
		max-width: 440px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1380px) {
	.download-link,
	.download-title {
		font-size: 18px;
	}

	.download-link {
		margin-top: 10px;
	}

	.download-link:before {
		top: -3px;
	}

	.thank-you-in-page {
		margin-top: 15%;
	}

	.download-title {
		margin: 0;
	}

	.download-bonus {
		margin-top: 50px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bonus-video iframe {
		height: 204px;
	}

	.download-action {
		padding-left: 0;
		text-align: center;
	}

	.quize-logo-phone {
		margin-bottom: 80px;
	}

	.quize-screen-main-img {
		min-height: 670px;
	}

	.quize-phone-item a {
		font-size: 20px;
	}

	.control-element {
		margin-top: 140px;
	}

	.quize-left-column {
		padding: 55px 5% 55px 5%;
	}
}

@media only screen and (max-width: 1206px) {
	.where-send-item:nth-child(n + 3) {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1200px) {
	.quize-screen-main-content {
		width: 100%;
	}

	.quize-screen-main-graphics {
		display: none;
	}

	.quize-phone-item a {
		font-size: 24px;
	}

	.quize-headline {
		max-width: 800px;
	}

	.quize-bonuce-list-item {
		width: auto;
	}

	.quize-maneger-top {
		margin-top: 40px;
	}

	.promo-form-list-item {
		min-width: 310px;
	}

	.has-drop:hover .quize-drop-list {
		visibility: hidden;
		opacity: 0;
	}

	.quize-phone-list .has-drop .quize-drop-list-open {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@media only screen and (max-width: 991px) {
	.hidden-bonus-block {
		display: block;
		border-top: 1px solid transparent;
	}

	.bonus-video iframe {
		width: 100%;
		height: 350px;
	}

	.bonucs-in-last-right {
		padding: 25px 30px;
	}

	.quize-left-column {
		width: 100%;
	}

	.quize-right-column {
		display: none;
	}

	.where-send-item:nth-child(n + 3) {
		margin-top: 0;
	}

	.enter-your-number .standart-blue {
		max-width: 447px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 760px) {
	.where-send-item:nth-child(n + 3) {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 700px) {
	.question-headline {
		font-size: 28px;
	}

	.quize-main-item .quize-logo-phone {
		margin-bottom: 60px;
	}

	.promo-text {
		font-size: 18px;
	}

	.bonucs-in-last-right {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.where-send-item:nth-child(2n) {
		margin-right: 0;
	}

	.where-send-item:nth-child(n + 3) {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 600px) {
	.thank-you-page-wrapper .quize-left-column {
		padding-bottom: 50px;
	}

	.quize-screen-main-content {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.quize-screen-main-content,
	.quize-screen-main-content .quize-headline {
		text-align: center;
	}

	.quize-bonuce-list-item {
		width: 100%;
	}

	.quize-logo-phone {
		margin-bottom: 50px;
	}

	.mobile-icon-content {
		display: inline-block;
		padding: 5px;
	}

	.has-drop > a {
		font-size: 0;
	}

	.quize-phone-item a:hover,
	.quize-phone-item a:focus {
		opacity: 1;
	}

	.quize-bonuce-list {
		margin-left: 0;
		margin-right: 0;
	}

	.quize-bonuce-list-item {
		padding-left: 0;
		padding-right: 0;
	}

	.logo {
		max-width: 200px;
	}

	.control-element {
		margin-top: 40px;
	}

	.quize-left-column {
		padding: 30px 4% 0 4%;
	}

	.quize-slider-item {
		padding-bottom: 120px;
	}

	.normalize-padding {
		padding-bottom: 20px;
	}

	.control-element {
		position: absolute;
		bottom: 25px;
		left: 0px;
		padding-left: 4%;
		padding-right: 4%;
	}

	.promo-form-list-item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.promo-form-list {
		margin-left: 0;
		margin-right: 0;
	}

	.has-drop:after {
		display: none;
	}

	.has-drop {
		padding-right: 0;
	}

	.quize-phone-list .quize-drop-list {
		margin-top: 10px;
		left: -221px;
		width: 260px;
	}

	.quize-screen-main .quize-bonuce-list-item {
		max-width: 300px;
	}

	.quize-phone-list {
		display: none;
	}

	.btn-close-menu {
		position: fixed;
		right: 25px;
		top: 32px;
		width: 35px;
		height: 35px;
		background-color: transparent;
		border: none;
		padding: 0;
	}

	.btn-close-menu:before,
	.btn-close-menu:after {
		content: " ";
		display: block;
		width: 100%;
		height: 2px;
		position: relative;
		background-color: #185cfb;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: -1px;
	}

	.btn-close-menu:before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 1px;
	}

	.mobile-social li {
		text-align: center;
	}

	.mobile-contacts-menu {
		display: block;
	}

	.mobile-main-contacts-navigation {
		-webkit-transition: 0.2s ease;
		-o-transition: 0.2s ease;
		transition: 0.2s ease;
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f7f7f7;
		padding: 70px 4% 40px 4%;
		overflow-y: auto;
	}

	.mobile-main-contacts-navigation .mobile-messengers {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.mobile-main-contacts-navigation .social-button {
		width: 50%;
		margin: 0;
		border-radius: 0;
	}

	.mobile-main-contacts-navigation .social-button {
		border-right: 2px solid #f7f7f7;
	}

	.mobile-main-contacts-navigation .social-button:last-child {
		border-right: none;
	}

	.open-menu {
		visibility: visible;
		opacity: 1;
		z-index: 999;
	}

	.mobile-social {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.mobile-social a {
		text-decoration: none;
	}

	.mobile-social li {
		margin-bottom: 20px;
	}

	.mobile-social {
		margin-top: 100px;
	}

	.mobile-main-contacts-navigation {
		display: block;
	}
}

@media only screen and (max-width: 530px) {
	.where-send-item {
		margin-right: 0;
		width: 100%;
	}

	.were-send-label {
		display: block;
	}

	.were-send-label-text {
		width: 100%;
	}

	.where-send-item:nth-child(n + 2) {
		margin-top: 15px;
	}

	.quize-bonuce-list-item .lock {
		right: -5px;
	}
}

@media only screen and (max-width: 500px) {
	.single-number-input {
		width: 84%;
	}

	.quize-main-item .quize-logo-phone {
		margin-bottom: 40px;
	}

	.question-headline {
		font-size: 24px;
	}

	.progress-status {
		font-size: 14px;
	}

	.progress-wrapper {
		margin-bottom: 40px;
	}

	.promo-form-list .radio-text {
		font-size: 17px;
	}

	.last-step .promo-text {
		margin-bottom: 40px;
	}

	.promo-form-list-item {
		min-width: auto;
	}

	.bonucs-in-last-right {
		padding: 25px 20px;
	}
}

@media only screen and (max-width: 340px) {
	.price-icon:after {
		display: none;
	}

	.quize-bonuce-headline {
		font-size: 20px;
	}

	.quize-headline {
		font-size: 26px;
	}

	.prev {
		font-size: 0;
	}

	.wite-button {
		padding: 25px;
	}

	.wite-button:after {
		left: 17px;
	}
}